# Build outputs
Debug/
Release/
*.bin
*.elf
*.hex
*.srec
*.map

# IDE specific settings (personal preferences, not project code)
.settings/
.project
.cproject
.launches/
*.launch

# Optional: Ignore the generated drivers if you want to keep it super clean, 
# BUT for a portfolio, it's often better to keep them so it compiles for others.
# Drivers/ 
# Middlewares/

# OS specific
.DS_Store
Thumbs.db